<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gallery</title>
    <link rel="stylesheet" href="style-gallery.css">

</head>
<header >
    <nav class="nav-bar">
        <ul>
            <li><a href="/index">back</a></li>
            <li>Gallery</li>
            <li><span style="font-size: small;">Last updated: xx-xx-xxxx</span></li>
            
        </ul>
    </nav>
</header>
<body class="body-kalender">
    <section class="product-grid">
        <article class="product">
          <img src="img_goodnewseo/template.jpg" alt="Product 1">
          <p>Lorem ipsum dolor sit amet.</p>
          <a href="#" class="about-btn">About</a>
        </article>
        <article class="product">
          <img src="img_goodnewseo/template.jpg" alt="Product 2">
          <p>Lorem ipsum dolor sit amet.</p>
          <a href="#" class="about-btn">About</a>
        </article>
        <article class="product">
          <img src="img_goodnewseo/template.jpg" alt="Product 10">
          <p>Lorem ipsum dolor sit amet.</p>
          <a href="#" class="about-btn">About</a>
        </article>
        <article class="product">
            <img src="img_goodnewseo/template.jpg" alt="Product 10">
            <p>Lorem ipsum dolor sit amet.</p>
            <a href="#" class="about-btn">About</a>
          </article>
          <article class="product">
            <img src="img_goodnewseo/template.jpg" alt="Product 10">
            <p>Lorem ipsum dolor sit amet.</p>
            <a href="#" class="about-btn">About</a>
          </article>
          <article class="product">
            <img src="img_goodnewseo/template.jpg" alt="Product 10">
            <p>Lorem ipsum dolor sit amet.</p>
            <a href="#" class="about-btn">About</a>
          </article>
      </section>
    <!--  -->
</body>
<%- include('layouts/footer.ejs') %>
</html>